# Citi Bike Data Cleaning

This notebook contains the code to clean the citi bike data. After the data is cleaned, the data will be exported as a csv file so that it can be used to build visualizations in Tableau.

## Dependencies

In [48]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

from pathlib import Path
import os, zipfile
import shutil
import glob

from datetime import datetime

## Extract data/csvs from zip file

In [49]:
# unzip files in Resources folder.
extension = ".zip"
extracted_dir_name = "."

# Get the current working directory.
# Need to be in root directory of this project for this to work.
cwd_dir_name = os.getcwd()
print(f"The current working directory is {cwd_dir_name}.")

os.chdir("Resources") # change directory from working dir to dir with zip file.
# This should be the "Resources folder.
dir_name = os.getcwd()
print(f"You are now in the following directory: {dir_name}.")

for item in os.listdir(dir_name): # loop through the items in the directory.
    if item.endswith(extension): # check for ".zip" extension"
        try:
            file_name = os.path.abspath(item) # get full path of files
            zip_ref = zipfile.ZipFile(file_name) # create zipfile object
            unzipped_directory = os.path.join(extracted_dir_name) # reference to the directory where the zip files will be extracted.
            zip_ref.extractall(unzipped_directory) # extract file to dir
            zip_ref.close() # close file
            print(f"Successfully unzipped {item} into the following folder:{dir_name}.")
        except Exception as e:
            print(f"Error trying to unzip data file(s).")
            print(e)
            
# Go up one directory into the project root directory.
os.chdir(os.path.normpath(os.getcwd() + os.sep + os.pardir))
print(os.path.normpath(os.getcwd() + os.sep + os.pardir))

The current working directory is /Users/bolboceanunicolai/Desktop/Tableau-challenge.
You are now in the following directory: /Users/bolboceanunicolai/Desktop/Tableau-challenge/Resources.
Successfully unzipped JC-201811-citibike-tripdata.csv.zip into the following folder:/Users/bolboceanunicolai/Desktop/Tableau-challenge/Resources.
Successfully unzipped JC-201906-citibike-tripdata.csv.zip into the following folder:/Users/bolboceanunicolai/Desktop/Tableau-challenge/Resources.
Successfully unzipped JC-201901-citibike-tripdata.csv.zip into the following folder:/Users/bolboceanunicolai/Desktop/Tableau-challenge/Resources.
Successfully unzipped JC-201909-citibike-tripdata.csv.zip into the following folder:/Users/bolboceanunicolai/Desktop/Tableau-challenge/Resources.
Successfully unzipped JC-201904-citibike-tripdata.csv.zip into the following folder:/Users/bolboceanunicolai/Desktop/Tableau-challenge/Resources.
Successfully unzipped JC-201911-citibike-tripdata.csv.zip into the following folder:/Users/bolboceanunicolai/Desktop/Tableau-challenge/Resources.
Successfully unzipped JC-201903-citibike-tripdata.csv.zip into the following folder:/Users/bolboceanunicolai/Desktop/Tableau-challenge/Resources.
Successfully unzipped JC-201902-citibike-tripdata.csv.zip into the following folder:/Users/bolboceanunicolai/Desktop/Tableau-challenge/Resources.
Successfully unzipped JC-202003-citibike-tripdata.csv.zip into the following folder:/Users/bolboceanunicolai/Desktop/Tableau-challenge/Resources.
Successfully unzipped JC-201910-citibike-tripdata.csv.zip into the following folder:/Users/bolboceanunicolai/Desktop/Tableau-challenge/Resources.
Successfully unzipped JC-201905-citibike-tripdata.csv.zip into the following folder:/Users/bolboceanunicolai/Desktop/Tableau-challenge/Resources.
Successfully unzipped JC-201812-citibike-tripdata.csv.zip into the following folder:/Users/bolboceanunicolai/Desktop/Tableau-challenge/Resources.
Successfully unzipped JC-201908-citibike-tripdata.csv.zip into the following folder:/Users/bolboceanunicolai/Desktop/Tableau-challenge/Resources.
Successfully unzipped JC-202001-citibike-tripdata.csv.zip into the following folder:/Users/bolboceanunicolai/Desktop/Tableau-challenge/Resources.
Successfully unzipped JC-201912-citibike-tripdata.csv.zip into the following folder:/Users/bolboceanunicolai/Desktop/Tableau-challenge/Resources.
Successfully unzipped JC-201907-citibike-tripdata.csv.zip into the following folder:/Users/bolboceanunicolai/Desktop/Tableau-challenge/Resources.
/Users/bolboceanunicolai/Desktop

## Import csv files and read into pandas

In [50]:
# Path to csv files.
path_to_csvs = os.path.join(".", "Resources")
all_files = glob.glob(os.path.join(path_to_csvs, "*.csv"))

df_from_each_file = []

for f in all_files:
    filename = os.path.basename(f)
    df = pd.read_csv(f, encoding ="ISO-8859-1")
    df["month"] = f"{filename[3]}{filename[4]}{filename[5]}{filename[6]}-{filename[7]}{filename[8]}-01"
    df_from_each_file.append(df)

# Concantenated dataframe
concatenated_df = pd.concat(df_from_each_file, ignore_index=True)
concatenated_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,month
0,142,2019-02-01 15:35:02.0820,2019-02-01 15:37:24.1360,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29677,Subscriber,1963,1,2019-02-01
1,223,2019-02-01 17:00:46.8900,2019-02-01 17:04:30.5500,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,26234,Subscriber,1992,2,2019-02-01
2,106,2019-02-01 17:08:01.3260,2019-02-01 17:09:47.4400,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29588,Subscriber,1960,1,2019-02-01
3,370,2019-02-01 17:09:31.2100,2019-02-01 17:15:41.6550,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29250,Subscriber,1976,1,2019-02-01
4,315,2019-02-01 17:19:53.2490,2019-02-01 17:25:09.1400,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,29586,Subscriber,1980,1,2019-02-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493796,544,2020-01-31 23:29:29.3910,2020-01-31 23:38:33.6910,3213,Van Vorst Park,40.718489,-74.047727,3194,McGinley Square,40.725340,-74.067622,29659,Subscriber,1989,1,2020-01-01
493797,122,2020-01-31 23:30:59.3670,2020-01-31 23:33:01.6870,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42361,Subscriber,1991,1,2020-01-01
493798,201,2020-01-31 23:42:34.8460,2020-01-31 23:45:55.8780,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42368,Subscriber,1988,1,2020-01-01
493799,300,2020-01-31 23:45:00.6800,2020-01-31 23:50:00.8740,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,42257,Subscriber,1981,2,2020-01-01
493800,721,2020-01-31 23:48:35.1700,2020-02-01 00:00:36.4060,3206,Hilltop,40.731169,-74.057574,3202,Newport PATH,40.727224,-74.033759,29302,Customer,1998,1,2020-01-01

## Rename columns

In [51]:
concatenated_df = concatenated_df.rename(columns={
    "tripduration": "trip_duration",
    "starttime": "start_time",
    "stoptime": "stop_time",
    "start station id": "start_station_id",
    "start station name": "start_station_name",
    "start station latitude": "start_station_latitude",
    "start station longitude": "start_station_longitude",
    "end station id": "end_station_id",
    "end station name": "end_station_name",
    "end station latitude": "end_station_latitude",
    "end station longitude": "end_station_longitude",
    "bikeid": "bike_id",
    "usertype": "user_type",
    "birth year": "birth_year"
})

concatenated_df

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender,month
0,142,2019-02-01 15:35:02.0820,2019-02-01 15:37:24.1360,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29677,Subscriber,1963,1,2019-02-01
1,223,2019-02-01 17:00:46.8900,2019-02-01 17:04:30.5500,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,26234,Subscriber,1992,2,2019-02-01
2,106,2019-02-01 17:08:01.3260,2019-02-01 17:09:47.4400,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29588,Subscriber,1960,1,2019-02-01
3,370,2019-02-01 17:09:31.2100,2019-02-01 17:15:41.6550,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29250,Subscriber,1976,1,2019-02-01
4,315,2019-02-01 17:19:53.2490,2019-02-01 17:25:09.1400,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,29586,Subscriber,1980,1,2019-02-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493796,544,2020-01-31 23:29:29.3910,2020-01-31 23:38:33.6910,3213,Van Vorst Park,40.718489,-74.047727,3194,McGinley Square,40.725340,-74.067622,29659,Subscriber,1989,1,2020-01-01
493797,122,2020-01-31 23:30:59.3670,2020-01-31 23:33:01.6870,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42361,Subscriber,1991,1,2020-01-01
493798,201,2020-01-31 23:42:34.8460,2020-01-31 23:45:55.8780,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42368,Subscriber,1988,1,2020-01-01
493799,300,2020-01-31 23:45:00.6800,2020-01-31 23:50:00.8740,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,42257,Subscriber,1981,2,2020-01-01
493800,721,2020-01-31 23:48:35.1700,2020-02-01 00:00:36.4060,3206,Hilltop,40.731169,-74.057574,3202,Newport PATH,40.727224,-74.033759,29302,Customer,1998,1,2020-01-01

## Check for NAs and null values

In [52]:
concatenated_df.count()

trip_duration              493801
start_time                 493801
stop_time                  493801
start_station_id           493801
start_station_name         493801
start_station_latitude     493801
start_station_longitude    493801
end_station_id             493801
end_station_name           493801
end_station_latitude       493801
end_station_longitude      493801
bike_id                    493801
user_type                  493801
birth_year                 493801
gender                     493801
month                      493801
dtype: int64

## Check data types

In [53]:
concatenated_df.dtypes

trip_duration                int64
start_time                  object
stop_time                   object
start_station_id             int64
start_station_name          object
start_station_latitude     float64
start_station_longitude    float64
end_station_id               int64
end_station_name            object
end_station_latitude       float64
end_station_longitude      float64
bike_id                      int64
user_type                   object
birth_year                   int64
gender                       int64
month                       object
dtype: object

## Convert ids from integers to strings

In [54]:
concatenated_df["start_station_id"] = concatenated_df["start_station_id"].astype(str)
concatenated_df["end_station_id"] = concatenated_df["end_station_id"].astype(str)
concatenated_df["bike_id"] = concatenated_df["bike_id"].astype(str)

In [55]:
concatenated_df.dtypes

trip_duration                int64
start_time                  object
stop_time                   object
start_station_id            object
start_station_name          object
start_station_latitude     float64
start_station_longitude    float64
end_station_id              object
end_station_name            object
end_station_latitude       float64
end_station_longitude      float64
bike_id                     object
user_type                   object
birth_year                   int64
gender                       int64
month                       object
dtype: object

## Clean up gender column

In [56]:
concatenated_df["gender"].value_counts()

1    350712
2    112387
0     30702
Name: gender, dtype: int64

In [57]:
concatenated_df["gender"] = concatenated_df["gender"].replace({
    0: "Unknown",
    1: "Male",
    2: "Female"
})

concatenated_df

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender,month
0,142,2019-02-01 15:35:02.0820,2019-02-01 15:37:24.1360,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29677,Subscriber,1963,Male,2019-02-01
1,223,2019-02-01 17:00:46.8900,2019-02-01 17:04:30.5500,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,26234,Subscriber,1992,Female,2019-02-01
2,106,2019-02-01 17:08:01.3260,2019-02-01 17:09:47.4400,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29588,Subscriber,1960,Male,2019-02-01
3,370,2019-02-01 17:09:31.2100,2019-02-01 17:15:41.6550,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29250,Subscriber,1976,Male,2019-02-01
4,315,2019-02-01 17:19:53.2490,2019-02-01 17:25:09.1400,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,29586,Subscriber,1980,Male,2019-02-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493796,544,2020-01-31 23:29:29.3910,2020-01-31 23:38:33.6910,3213,Van Vorst Park,40.718489,-74.047727,3194,McGinley Square,40.725340,-74.067622,29659,Subscriber,1989,Male,2020-01-01
493797,122,2020-01-31 23:30:59.3670,2020-01-31 23:33:01.6870,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42361,Subscriber,1991,Male,2020-01-01
493798,201,2020-01-31 23:42:34.8460,2020-01-31 23:45:55.8780,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42368,Subscriber,1988,Male,2020-01-01
493799,300,2020-01-31 23:45:00.6800,2020-01-31 23:50:00.8740,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,42257,Subscriber,1981,Female,2020-01-01
493800,721,2020-01-31 23:48:35.1700,2020-02-01 00:00:36.4060,3206,Hilltop,40.731169,-74.057574,3202,Newport PATH,40.727224,-74.033759,29302,Customer,1998,Male,2020-01-01

## Calculate rider age

In [58]:
concatenated_df["birth_year"].value_counts()

1969    30974
1987    27216
1988    27201
1989    26264
1986    24383
        ...
1945        1
1943        1
1938        1
1905        1
1901        1
Name: birth_year, Length: 73, dtype: int64

In [59]:
currentYear = datetime.now().year

concatenated_df["age"] = currentYear - concatenated_df["birth_year"]

concatenated_df

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender,month,age
0,142,2019-02-01 15:35:02.0820,2019-02-01 15:37:24.1360,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29677,Subscriber,1963,Male,2019-02-01,57
1,223,2019-02-01 17:00:46.8900,2019-02-01 17:04:30.5500,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,26234,Subscriber,1992,Female,2019-02-01,28
2,106,2019-02-01 17:08:01.3260,2019-02-01 17:09:47.4400,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29588,Subscriber,1960,Male,2019-02-01,60
3,370,2019-02-01 17:09:31.2100,2019-02-01 17:15:41.6550,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29250,Subscriber,1976,Male,2019-02-01,44
4,315,2019-02-01 17:19:53.2490,2019-02-01 17:25:09.1400,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,29586,Subscriber,1980,Male,2019-02-01,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493796,544,2020-01-31 23:29:29.3910,2020-01-31 23:38:33.6910,3213,Van Vorst Park,40.718489,-74.047727,3194,McGinley Square,40.725340,-74.067622,29659,Subscriber,1989,Male,2020-01-01,31
493797,122,2020-01-31 23:30:59.3670,2020-01-31 23:33:01.6870,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42361,Subscriber,1991,Male,2020-01-01,29
493798,201,2020-01-31 23:42:34.8460,2020-01-31 23:45:55.8780,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42368,Subscriber,1988,Male,2020-01-01,32
493799,300,2020-01-31 23:45:00.6800,2020-01-31 23:50:00.8740,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,42257,Subscriber,1981,Female,2020-01-01,39
493800,721,2020-01-31 23:48:35.1700,2020-02-01 00:00:36.4060,3206,Hilltop,40.731169,-74.057574,3202,Newport PATH,40.727224,-74.033759,29302,Customer,1998,Male,2020-01-01,22

## Export cleaned data to csv file

In [60]:
concatenated_df.to_csv("citi_bike_data.csv", index=False)